/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #FFF1F7;
    --color-button: #353430;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --color-title: #353430;
    --color-border: rgba(53, 52, 48, .5);
    --color-text-focus: #FFC2E6;
    --color-text-main: #353430;
    --focus-color: #FF0070;
    --corner-color: #353430;
    --text-shadow: #FF8DCB;
    --color-rec: transparent;
    --imgroot: url('../images/cover-image-light.png');
    --font-family: 'IBM Plex mono', 'monospace';
  }
}

.page.theme_light {
  --background-color: #FFF1F7;
  --color-button: #353430;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --color-title: #353430;
  --color-border: rgba(53, 52, 48, .5);
  --color-text-focus: #FFC2E6;
  --color-text-main: #353430;
  --focus-color: #FF0070;
  --corner-color: #353430;
  --text-shadow: #FF8DCB;
  --color-rec: transparent;
  --imgroot: url('../images/cover-image-light.png');
  --font-family: 'IBM Plex mono', 'monospace';
}

.page.theme_light {
  .rec-lamp {
    display: none;
  }
}

    
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */




